/* CSS Reset  */
body {
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    margin: 0%;
    width: 86%;
    /* margin: 150px; */
    padding: 0px;
    /* background: url('img/bg.jpg.jpg')no-repeat center center/ cover; */
}

.vid {
    width: 116.3%;
    display: flex;
    position: relative;
    text-align: center;
    top: -7px;
}

header {
    background-color: black;
    width: 116.3%;
    top: -7px;
    position: relative;
    height: 77px;
}

.left {
    position: relative;
    left: 10px;
    top: 11px;
    display: inline-block;
}

.left img {
    width: 70px;
    /* shape-image-threshold: (10px); */
}

.left div {
    text-align: center;
    font-size: 12px;
    color: white;
}

.mid {
    position: relative;
    /* display: flex; */
    text-align: center;
    left: 0%;
    top: -64px;
    margin: 7px auto;

}

.right {
    position: absolute;
    right: 16px;
    top: 18px;
    ;
    display: inline-block;

}

/* .left li {
        font-size: 58;
    } */

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 25px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 7px 23px;
}


.navbar li a:hover {
    text-decoration: underline;
    color: gray;
}

.btn {
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0px;
    position: relative;
    right: 45px;
    border-radius: 3px;
    top: -4px;
    width: 101%;
    height: 7vh;
    padding: 4px 14px;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(82, 75, 75);
}



.Register {
    font-size: 20px;
    margin: 130px 110px;
}

.Register li a {
    color: rgb(193, 174, 245);
}

.team{
    display: flex;
    border-radius: 8px;
    padding: 30px 0px;
    margin: 92px 0px;
    width: 116%;
}
.team h1{
    position: absolute;
    text-align: center;
    color: black;
    top: 120%;
    left: 43%;
}
.team .box{
    display: flex;
    margin: 16px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;
    width: 8%;
    padding: 127px 87px;
    border-radius: 5px;
    /* border: 2px solid red */
}
.box h2{
    color: black;
    padding: 0px 9px;
    position: absolute;
}

.box .position{
    color: rgb(164 164 164);
    position: absolute;
    padding: 53px 1px;
}

footer {
    background-color: rgb(33, 4, 4);
    width: 116.3%;
}

.footer {
    display: flex;
    height: 190px;
    color: white;
    /* width: 116.3%; */
}

.footer-first {
    left: 23px;
    position: relative;
    width: 20%;
    margin: 0px 120px;
}

.footer-second ul li a {
    text-decoration: none;
    color: white;
}

.footer-second ul li {
    list-style: none;
    margin: 23px 65px;
}

.footer-third ul li a {
    text-decoration: none;
    right: 0px;
    color: white;
}

.footer-third ul li {
    list-style: none;
    margin: 23px 89px;
}

hr{
    margin: 12px 23px;
}
.footer-right {
    color: white;
    margin: 0px 38px;
    text-align: left;
}

.Transform {
    color: white;
    top: -16px;
    margin: 0px 38px;
    position: relative;
    text-align: right;
}